.imageupload{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    align-items: center;
    background-color:  whitesmoke  ;
}

.imageupload__name{
    margin-top: 5%;
    background-color: lightgray;
    border-radius: 20px;
    width:fit-content;
    text-align: center;
    padding: 10px;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}

.imageupload__inputbuttons {
    display: grid;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.imageupload__inputbuttons > Button {
    margin-top: 5%;
    padding: 10px;
    /* width: fit-content; */
    
}

.imageupload__inputbuttons>input:hover {
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);

}

.imageupload__inputbuttons>Button:hover {
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);

}

.imageupload__foot {
    display: grid;
    place-items: center;
    margin-top: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    /* background-color: red; */
    width: 100%;
    margin-top: 7%;
    
}

.imageupload__foot > Button:hover {
   
    box-shadow: 5px 18px 53px 0px rgba(0, 0, 0, 0.3);

}

.imageupload__foot>button {
    margin-left: auto;
    margin-right: 15vw;
    padding: 1%;
    box-shadow: 0px 18px 53px 50px rgba(0, 0, 0, 0.3);


}